@import "mixins.scss";
@import "variables.scss";

body{
    margin: 0;
    padding: 0;
    background: $bodyColor;
}

header {
    background: $headerColor;
    padding: 20px 0;
    div#header {
        width: $width;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 760px){
            width: 95%;
            display: block;
        }
        button#dropbutton{
            display: none;
            @include buttonMobile();
            @media only screen and (max-width: 760px){
                display: block;
            }
        }
        ul#menu {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;

            @media only screen and (max-width: 760px){
                display: none;
                clear: both;
                margin-top: 20px;
                li {
                    text-align: center;
                }
            }
            &.show{
                display: block;
            }
            li {
                a {
                    &.chosen{
                        color: $orangeColor;
                    }
                    font-family: $fontHelvetica;
                    text-decoration: none;
                    color: $liColor;
                    font-size: 4.45pkt;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 10px;
                    display: block;
                    &:hover{
                        background-color: $orangeColor;
                        color: white;
                    }
                }
            }
        }
        div#info {
            img {
                display: inline-block;
                vertical-align: middle;
                &#info{
                    width: 50px;
                    margin-right: 10px;
                }
                &#arrow{
                    width: 10px;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
            p{
                display: inline-block;
                vertical-align: middle;
                font-family: $fontHelvetica;
            }
        }
    }
}

div#main {
    width: $width;
    margin: auto;
    margin-bottom: 20px;
    @media only screen and (max-width: 760px){
        width: 90%;
    }

    div#navigation {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        @media only screen and (max-width: 760px){
            flex-direction: column;
        }
        div#progress {
            @include pNavHeader();
        }
        div#slider {
            display: flex;
            justify-content: center;
            h1 {
                font-family: $fontHelvetica;
                color: $orangeColor;
                font-weight: normal;
                letter-spacing: 1px;
                margin: 20px;
            }
            img {
                align-self: center;
                cursor: pointer;
            }
        }
        div#options {
            @include pNavHeader();
            div#images {
                display: flex;
                justify-content: space-between;
                img {
                    align-self: center;
                }
            }
        }
    }

    table {
        font-family: $fontHelvetica;
        
        margin-bottom: 20px;
        tbody {
            background: #eeeeee;
            tr {
                position: relative;
                th {
                    &.day {
                        font-size: 22px;
                        text-transform: uppercase;
                        color: $greenColor;
                        background: white;
                        width: $widthTd;
                    }
                    &.time {
                        width: 5%;
                        font-weight: normal;
                        span{
                            font-weight: bold;
                        }
                    }
                }
                td {
                    background: white;
                    padding: 15px 10px;
                    h4 {
                        margin-top: 0;
                        margin-bottom: 10px; 
                        color: $dishName;
                        font-weight: normal;
                        text-align: center;
                    }
                    img {
                        display: block;
                        margin: auto;
                    }
                    &.gym {
                        background: none;
                        text-align: center;
                    }
                    &.workout{
                        background: none;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        img {
                            margin: initial;
                        }
                        h4{
                            margin: 0;
                        }
                    }
                    &.dish{
                        width: $widthTd;
                    }
                    &.free{
                        // position: absolute;
                    }
                }
        }
        
        }
        &.desktop{
            display: block;
            @media only screen and (max-width: 760px){
                display: none;
            }
        }
        &.mobile {
            display: none;
            @media only screen and (max-width: 760px){
                display: block;
            }
        }
    }

    div#posts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $fontHelvetica;
        margin-bottom: 40px;
        @media only screen and (max-width: 760px){
            flex-direction: column;
        }
        div.post{
            width: 33%;
            @media only screen and (max-width: 760px){
                width: 95%;
            }
            h2, p {
                color: $dishName;
                text-align: center;
                margin: 10px 0;
            }
            button {
                @media only screen and (max-width: 760px){
                    float: none;
                    margin: auto;
                    margin-bottom: 20px;
                }
                outline: 0;
                cursor: pointer;
                background: none;
                border: 1px solid $dishName;
                padding: 10px;
                border-radius: 2px;
                color: $buttonColor;
                display: flex;
                align-items: center;
                float: left;
                margin-right: 15px;
                span {
                    margin-left: 3px;
                    font-size: 15px;
                    font-weight: bold;
                }
                img {
                    margin-right: 10px;
                }
            }
        }
    }

}