$bodyColor: #f9f9f9;
$headerColor: #ffffff;
$orangeColor: #ff801a;
$fontHelvetica: Helvetica;
$navHeaderColor: #bdbdbd;
$greenColor: #b3c304;
$dishName: #828282;
$borderPost: #e1e1e1;
$buttonPost: #b8b8b8;
$buttonColor: #a4a4a4;
$width: 50%;
$widthTd: 1/7*100% - 5%;
$liColor: #7c7c7c;